
div.hl-main li
{
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
}

div.hl-main
{
  background-color:#eee;
  border:solid #ccc 1px;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  font-family:monospace;
}

ol.hl-main
{
  padding-left:40px;
  list-style-type:decimal-leading-zero;
  
}

.hl-main pre
{
  background:none;
  padding:0px;
  border:none;
}

.hl-reserved,
.hl-types
{
  font-weight:bold;
  color:#7f0055;
}

.hl-brackets
{
  color:green;
  font-weight:bold;
}

.hl-property
{
  color:#60a;
  color:#359;
  font-style:italic;
}

.h1-error
{
  color:red;
  background-color:#bbb;
  font-weight:bold;
}
.hl-code
{
  color:green;
}

.hl-identifier
{
  color:#2a00ff;
}

.hl-quotes,
.hl-string
{
  color:red;
}

.hl-inlinetags
{
  color:red;
  font-weight:bold;
}

.hl-var
{
  font-style:italic;
  color:#4aa;
}

.hl-comment
{
  color:#f80;
}

.hl-structure
{
  color:#7f0055;
  font-weight:bold;
}

.hl-constant
{
  color:#088;
  font-style:italic;
}

.hl-undefconstant
{
  color:#088;
}

.hl-number
{
  color:#f0f;
}

.hl-builtin
{
  color:#80f;
  font-style:italic;
}

.hl-call
{
  color:#06f;
  font-weight:bold;
}

.hl-put
{
  color:#40f;
  font-weight:bold;
}

.hl-do
{
  color:#a00;
  font-weight:bold;
}

