div.xbbcode-tips-list {
  display: inline;
}
div.xbbcode-tips-list ul {
  display: inline;
  padding-left: 0.25em;
}
div.xbbcode-tips-list li {
  display: inline;
  list-style: none;
  margin-left: 0.25em;
  padding-right: 0;
}
div.xbbcode-tips-list li:after {
  content: ",";
}
div.xbbcode-tips-list li:last-child:after {
  content: "";
}
